<div class="flex justify-center items-center mt-5 flex-col">
  <div
    class="flex font-bold normal-case text-3xl items-center justify-center mx-3 dark:text-white text-black mb-20 mt-10">
    <ng-icon name="instance" size="50" class="mr-2"></ng-icon>
    <span>Timesheet</span>
  </div>
  <div
    class="card w-96 bg-base-100 shadow-2xl"
    [ngClass]="{
      'animate-shake animate-twice animate-duration-200 animate-ease-linear':
        errorMessage()
    }">
    <form (submit)="onLogin($event)" class="card-body">
      <div class="text-center">
        <h2 class="text-center text-xl mb-2 font-bold">
          {{ 'sys.login' | transloco }}
        </h2>
        <p class="mb-5 text-gray-400 dark:text-gray-500">
          {{ 'msg.welcomeTimesheetlogin' | transloco }}
        </p>
      </div>

      @if (errorMessage()) {
      <div class="text-error">
        <span>{{ errorMessage() }}</span>
      </div>
      }

      <div #loginUserInput>
        @if (loginForm()) {
        <btp-form
          [form]="loginForm()!"
          (isValidChange)="onIsValidChange($event)"
          (valueChange)="onValueChange($event)" />
        }
      </div>

      <button
        [disabled]="loading() || !isLoginFormValid()"
        class="btn btn-primary">
        {{ 'sys.login' | transloco }}
      </button>

      @if (loading()) {
      <progress class="progress w-full"></progress>
      }
    </form>
  </div>
</div>
